body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF; /* White background */
  color: #FFE2F0; /* Pink text */
  line-height: 1.6;
}

section {
  display: none;
}

section.active {
  display:block;
}

header {
  background-color: #FFFFFF; /* White header */
  color: #F3D0D7; /* Pink text */
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li button { /* Button styles */
    background-color: #F3D0D7; /* Pink button */
    color: #FFFFFF; /* White text on button */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: #D3A2A8; /* Darker pink on hover */
}

section {
  padding: 20px;
  margin: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #FFFFFF;
  color: #F3D0D7;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h1, h2 {
  color: #F3D0D7; /* Pink headings */
}

a {
  color: #F3D0D7;
}

a:hover {
  text-decoration: underline;
}
  
