body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3efeb; /* Background */
  color: #905155; /* Text */
  line-height: 1.6;
}

section {
  display: none;
}

section.active {
  display:block;
}

header {
  background-color: #f3efeb; /* Header */
  color: #905155; /* Text */
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li button { /* Button styles */
    background-color: #905155; /* Button */
    color: #FFFFFF; /* Text */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: #643537; /* Darker on hover */
}

section {
  padding: 20px;
  margin: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #FFFFFF;
  color: #905155;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h1, h2 {
  color: #905155; /* Headings */
}

a {
  color: #905155;
}

a:hover {
  text-decoration: underline;
}
  
